extends ../template/main.pug

block content
  form.form(action="/user/forget-password", method="post")
    input(type="hidden", name="_csrf", value=_csrf)
    label.textbox.
      Email #[input(type="email", name="email")]
    button(type="submit") Reset Password
