extends ../template/main.pug

block content
  form.form(action="/auth/login", method="post")
    input(type="hidden", name="_csrf", value=_csrf)
    label.textbox.
      Email #[input(name="email", value=email)]
    label.textbox.
      Password #[input(name="password", type="password", value=password)]
    button(type="submit") Enter
    a(href="/signup", style={ 'margin-left': '1rem' }) Signup
